<!DOCTYPE html>
<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>...</title>
    <style>
        * {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        div.data-table-data {
            clear: both;
            overflow-x: scroll;
            overflow-y: auto;
            min-height: 100px;
            max-height: 300px;
        }
    </style>
    <link href="/datastore/static/data-tables.css" rel="stylesheet">
    <script src="/datastore/static/data-tables.js"></script>
</head>

<body>
    <div class="data-table-data">
        <div class="table_container">
            <div>
                <div><strong>Header Left</strong></div>
                <div><strong>Header Middle</strong></div>
                <div><strong>Header Right</strong></div>
            </div>
            <div>
                <div><a href="#">A</a></div>
                <div>1</div>
                <div>z</div>
            </div>
            <div>
                <div>B</div>
                <div>2</div>
                <div>w</div>
            </div>
            <div>
                <div>C</div>
                <div>3</div>
                <div>x</div>
            </div>
            <div>
                <div>D</div>
                <div>4</div>
                <div>w</div>
            </div>
            <div>
                <div>E</div>
                <div>5</div>
                <div>v</div>
            </div>
            <div>
                <div>F</div>
                <div>6</div>
                <div>u</div>
            </div>
            <div>
                <div>G</div>
                <div>7</div>
                <div>t</div>
            </div>
            <div>
                <div>H</div>
                <div>8</div>
                <div>s</div>
            </div>
            <div>
                <div>I</div>
                <div>9</div>
                <div>r</div>
            </div>
            <div>
                <div>J</div>
                <div>10</div>
                <div>q</div>
            </div>
            <div>
                <div>K</div>
                <div>11</div>
                <div>p</div>
            </div>
            <div>
                <div>L</div>
                <div>12</div>
                <div>o</div>
            </div>
            <div>
                <div>M</div>
                <div>13</div>
                <div>n</div>
            </div>
            <div>
                <div>N</div>
                <div>14</div>
                <div>m</div>
            </div>
            <div>
                <div>O</div>
                <div>15</div>
                <div>l</div>
            </div>
            <div>
                <div>P</div>
                <div>16</div>
                <div>k</div>
            </div>
            <div>
                <div>Q</div>
                <div>17</div>
                <div>j</div>
            </div>
            <div>
                <div>R</div>
                <div>18</div>
                <div>i</div>
            </div>
            <div>
                <div>S</div>
                <div>19</div>
                <div>h</div>
            </div>
            <div>
                <div>T</div>
                <div>20</div>
                <div>g</div>
            </div>
            <div>
                <div>U</div>
                <div>21</div>
                <div>f</div>
            </div>
            <div>
                <div>V</div>
                <div>22</div>
                <div>e</div>
            </div>
            <div>
                <div>W</div>
                <div>23</div>
                <div>d</div>
            </div>
            <div>
                <div>X</div>
                <div>24</div>
                <div>c</div>
            </div>
            <div>
                <div>Y</div>
                <div>25</div>
                <div>b</div>
            </div>
            <div>
                <div>Z</div>
                <div>26</div>
                <div>a</div>
            </div>
        </div>
    </div>

    <hr>

    <table class="table_container">
        <thead>
        <tr>
            <th><strong>Header Left</strong></th>
            <th><strong>Header Middle</strong></th>
            <th><strong>Header Right</strong></th>
        </tr></thead><tbody>
        <tr>
            <td><a href="#">A</a></td>
            <td>1</td>
            <td>z</td>
        </tr>
        <tr>
            <td>B</td>
            <td>2</td>
            <td>w</td>
        </tr>
        <tr>
            <td>C</td>
            <td>3</td>
            <td>x</td>
        </tr>
        <tr>
            <td>D</td>
            <td>4</td>
            <td>w</td>
        </tr>
        <tr>
            <td>E</td>
            <td>5</td>
            <td>v</td>
        </tr>
        <tr>
            <td>F</td>
            <td>6</td>
            <td>u</td>
        </tr>
        <tr>
            <td>G</td>
            <td>7</td>
            <td>t</td>
        </tr>
        <tr>
            <td>H</td>
            <td>8</td>
            <td>s</td>
        </tr>
        <tr>
            <td>I</td>
            <td>9</td>
            <td>r</td>
        </tr>
        <tr>
            <td>J</td>
            <td>10</td>
            <td>q</td>
        </tr>
        <tr>
            <td>K</td>
            <td>11</td>
            <td>p</td>
        </tr>
        <tr>
            <td>L</td>
            <td>12</td>
            <td>o</td>
        </tr>
        <tr>
            <td>M</td>
            <td>13</td>
            <td>n</td>
        </tr>
        <tr>
            <td>N</td>
            <td>14</td>
            <td>m</td>
        </tr>
        <tr>
            <td>O</td>
            <td>15</td>
            <td>l</td>
        </tr>
        <tr>
            <td>P</td>
            <td>16</td>
            <td>k</td>
        </tr>
        <tr>
            <td>Q</td>
            <td>17</td>
            <td>j</td>
        </tr>
        <tr>
            <td>R</td>
            <td>18</td>
            <td>i</td>
        </tr>
        <tr>
            <td>S</td>
            <td>19</td>
            <td>h</td>
        </tr>
        <tr>
            <td>T</td>
            <td>20</td>
            <td>g</td>
        </tr>
        <tr>
            <td>U</td>
            <td>21</td>
            <td>f</td>
        </tr>
        <tr>
            <td>V</td>
            <td>22</td>
            <td>e</td>
        </tr>
        <tr>
            <td>W</td>
            <td>23</td>
            <td>d</td>
        </tr>
        <tr>
            <td>X</td>
            <td>24</td>
            <td>c</td>
        </tr>
        <tr>
            <td>Y</td>
            <td>25</td>
            <td>b</td>
        </tr>
        <tr>
            <td>Z</td>
            <td>26</td>
            <td>a</td>
        </tr></tbody>
    </table>

    <script>
        (function () {
            initTables('table_container', 'array', true, true, true, false)
        })()
    </script>
</body>

</html>